.kakao {
  background-color: rgb(248, 223, 2);
  border-color: rgb(248, 223, 2);
  color: rgb(36, 27, 5);
  margin-bottom: 15px;
}
.naver {
  background-color: rgb(89, 196, 81);
  border-color: rgb(89, 196, 81);
  color: rgb(255, 255, 255);
}
