<section class="no-content-page">
  <div class="no-content-wrapper">
    <div class="left">
      <img src="./assets/image/404-left.png"/>
    </div>
    <div class="center-wrapper">
      <div class="center-background">
        <img class="" src="./assets/image/404-center-wrapper.png"/>
      </div>
      <div class="center">
        <div class="header">
          <img src="./assets/image/404-label.png"/>
          <img src="./assets/image/404-border.png"/>
        </div>
        <div class="title">Page not found</div>
        <div class="action">
          <button pButton class="app-btn btn-ex-large btn-primary" (click)="routeToMain()"><span>메인화면으로 가기</span></button>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="./assets/image/404-right.png"/>
    </div>
  </div>
</section>
